.btn {
    position: relative;
    margin: .8em auto;
    padding: 12px 20px;
    font-weight: 500;
    border-radius: 10px;
    color: #fff;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    border: none;
    transition: .5s;
}
.btn-block {
    display: block;
    width: 80%;
}

.btn-primary {
    background: #4dc0b5;
}

.btn-danger {
    background: var(--red);
}

.btn-primary:hover {
    background: #38a89d;
}